/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*Asterisk - universal selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #000000;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    margin-left: 35px; 
}

h2{
    text-align: center;
    padding: 20px;
}


/*Header*/
header {
    background-color: #f5d4d4;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #586f7c;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type:none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #000000;
}

/*Navbar with a dropdown toggle*/
nav {
    position: absolute;
    background-color: rgb(245, 212, 212,0.7);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #586f7c;
    display: none;
    top: 100%;
}

/* Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/*Main*/
main {
    background-color: #AAB7B8;
    /*The main element takes up any extra space to push the footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
    /*Enable flex properties for child elements*/
    display:flex;
    flex-direction: column;
}

/*Main image*/
#hero {
    height: 400px;
    width: 100%;
    background: url(../images/hero-image.jpeg) no-repeat center center/cover;
}

/*Main Title*/
#phrase-center {
    font-size: 17px;
    padding-left: 10px;
}

/*About us*/
#aboutus{
    background-color: #f5d4d4;
    height: auto;
    width:100%;
    bottom: 0;
    padding: 25px;
}

#aboutus >p{
    text-align: center;
}

#activity-table{
    background-color: #c47c88;
    text-align: center;
    overflow: auto;
    max-width: 402px;
    margin: auto;  
}

#activity-table > th, td{
    border: 2px solid black;
    padding: 9px;
}

#offers {
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:0;
    margin:auto;
    max-width: 705px;
}

#offers > li{
    display: list-item;
}

/* Sign up*/
#signup{
    background-color: #AAB7B8;
    height: 850px;
    padding: 10%;

}

#signup-form{
    color: #000000;
    background-color: rgb(212, 126, 144,0.9);
    padding: 45px;
    margin-bottom: 5%;
}

#signup-form > h2{
    color: #000000;
    margin-bottom: 20px;
}

.text-input{
    background: #ffffff;
    color:#000000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border:1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

#reset_button{
    margin-right: 10px;
}


/*Footer*/
footer {
    background-color: #ffffff;
}

#contact {
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 15px;
}

#text-center{
    text-align: center;
    
}

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 155%;
    padding: 5%;
    color: #000000;
}


/*Media query: tablets and larger(768px and up)*/
@media screen and (min-width:768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;

    }

    #menu li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main*/
    main {
        /*Present the main content after it has been hidden by expansion of the header*/
        margin-top: 79px;
    }

    #hero {
        height: 520px;
        width: 100%;
        background: url(../images/hero-image.jpeg) no-repeat center center/cover;
    }

    
    #aboutus{
        background-color: #f5d4d4;
        height: auto;
        width:100%;
        bottom: 0;
        padding: 10%; 
    }


    #contact {
        background-color: #ffffff;
        height: 150px;
        width: 100%;
    }

    #contact > h2{
        padding: 15px;
    }
    

    /*Signup*/
    #signup-form{
        color: #000000;
        background-color: rgb(212, 126, 144,0.9);
        padding: 45px;
        margin: 40px;
        max-width: 55%;
        margin: auto;
        margin-bottom: 5%;
    }
  
}

/*Media query: laptops and larger(992px and up)*/
@media screen and (min-width:992px) {

    #menu a:hover {
        border-bottom: 1px solid #000000;
    }

    #hero {
        height: 520px;
        width: 100%;
        background: url(../images/hero-image.jpeg) no-repeat center center/cover;
    }

    #aboutus{
        background-color: #f5d4d4;
        width:100%;
        bottom: 0;
        padding: 10%;
    }

    #contact {
        background-color: #ffffff;
        height: 160px;
        width: 100%;
    }


    #signup-form{
        color: #000000;
        background-color: rgb(212, 126, 144,0.9);
        padding: 45px;
        max-width: 45%;
        margin: auto;
        margin-bottom: 5%;
    }

}


/*Media query: Desktops and larger(1200px and up)*/
@media screen and (min-width:1200px) {

    #hero {
        height: 415px;
        width: 40%;
        background: url(../images/hero-image.jpeg) no-repeat center center/cover;
    }


    /*Main Title*/
    .main-title{
        position:absolute;
        right: 400px;
        margin: 10px;
    }   
    
    
    #phrase-center {
        font-size: 20px;
        padding:10px;
        position:absolute;
        left:50%;
        top:30%;
    } 

    #aboutus{
        background-color: #f5d4d4;
        width:100%;
        bottom: 0;
        padding: 5%; 
    }

    #contact {
        background-color: #ffffff;
        height: 150px;
        width: 100%;
    }


    #signup-form{
        color: #000000;
        background-color: rgb(212, 126, 144,0.9);
        padding: 45px;
        max-width: 30%;
        margin: auto;
        margin-bottom: 5%;
    }

}